.conteudo {
    background: blue;
    border: 1px;
    border-style: solid;
    border-color: gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 15px;
}

#principal {
    border: 5px;
    border-color: red;
    border-style: solid;
    background: green;
}

/*.conteudo4 {
    background: red;
    border: 1px;
    border-style: solid;
    border-color: gray;
    width: 200px;
    height: 200px;
    margin: 15px
} */

.clear {
    clear: both;
}
 