.conteudo {
    background: blue;
    border: 1px;
    border-style: solid;
    border-color: gray;
    width: 150px;
    height: 150px;
}

.conteudo1 {
    background: red;
    border: 1px;
    border-style: solid;
    border-color: gray;
    width: 150px;
    height: 150px;
    float: ;
}