/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

li {
    padding-left: 20px;
    padding-bottom: 5px;
    background: url(arquivos-necessarios-barra-navegacao-vertical/seta.png) no-repeat;
}
*/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

ul a {
    width: 400px;
    height: 40px;
    display: block;
    border: 1px solid red;
}