/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

li {
    padding-left: 20px;
    padding-bottom: 5px;
    background: url(arquivos-necessarios-barra-navegacao-vertical/seta.png) no-repeat;
}
*/
ol {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ol a {
    width: 200px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: url(arquivos-necessarios-barra-navegacao-vertical/menu.png) no-repeat;
    background-position: left;
}

ol a:hover {
    background-position: right ;
}