body {
    background: #007fc7;
}

.relative {
    border: 1px solid red;
    position: relative;
    top: 0px;
    left: 0px; /*Pode ser atribuido valores negativos e positivos */
}

.absolute {
    position: relative;
    background: #f2f2f2;
    top: 0px;
    right: 0px;
    border: 1px solid red;
    
}

.fixed {
    position: fixed;
    background: #f2f2f2;
    border: 1px solid red;
    top: 0px;
    left: 0px;
    
}

p {
    width: 300px;
}
    

#container {
    background: #FFF;
    width: 800px;
    margin: auto auto;
    padding: 10px;
}