/* Seleto universal */
* {
    border: 1px;
    border-style: solid;
    border-color: red;
}

/* Seletor de classe */
.seletor-classe {
    color: green;
}

/* Seletor por ID */
#seletor-id {
    color: aqua;
}

/* Seletor de filho */
li>a {
    text-decoration: none;
}