/* Seleto universal */
* {
    border: 1px;
    border-style: solid;
    border-color: red;
}

/* Seletor de classe */
.seletor-classe {
    color: green;
}

/* Seletor por ID */
#seletor-id {
    color: aqua;
}

/* Seletor de filho */
li>a {
    text-decoration: none;
    color: black;
}

/* Seletor de descendente */
p a {
    color: yellow;
}

/* Seletor de irmão adjacente */
h1+p {
    color: red;
}

/* Seletor de irmão geral */
h1~p {
    color: violet;
}